<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Uncalled Innovators</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="../public/img/favicon.png" rel="icon"> -->
  <!-- <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <!--favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favicon-16x16.png">
  <link rel="manifest" href="../public/favicon/site.webmanifest">
  <link rel="mask-icon" href="../public/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../public/vendor/aos/aos.css" rel="stylesheet">
  <link href="../public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
    <link href="../public/css/hack.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../public/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href=<%=process.env.BASE_URL%> class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../public/img/ui.png" alt="">
        <!-- <h1>Yummy<span>.</span></h1> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href=<%=process.env.BASE_URL%>>Home</a></li>
          <li><a href="/infra">Infraseek</a></li>
          <li><a href=<%=process.env.BASE_URL +"#about"%>>About</a></li>
          <li><a href=<%=process.env.BASE_URL +"#events"%>>Projects</a></li>
          <li><a href=<%=process.env.BASE_URL +"#contact"%>>Contact</a></li>
          <li><a href="/profile"><img id="avatarImage" width="10%" height="8%" src="<%=user.image%>" alt="bear"></a></li>
          
         
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!--Timeline-->





<section class="info">
  <img src="https://codetheweb.blog/assets/img/icon2.png">
  <h1>Hackathons</h1>
</section>
<section class="cards-wrapper">
  <div class="card-grid-space">
    <div class="num">01</div>
    <a class="card" href="https://angelhack.com/hackglobal/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
        <h1>AngelHack Global Hackathon Series</h1>
        <p>The AngelHack Global Hackathon Series is a remarkable.....</p>
        
        <div class="tags">
          <div class="tag">USD 180,000.</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">02</div>
    <a class="card" href="https://code.iitm.ac.in/code-programs/HACKATHON2024/about.html" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      <div>
        <h1>IITM Hackathon 2024</h1>
        <p> The IITM Hackathon 2024 focuses on Signal Identification.....</p>

        <div class="tags">
          <div class="tag">₹1,00,000 (One lakh).</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">03</div>
    <a class="card" href="https://fitt-iitd.in/Techfuture/ " style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
      <div>
        <h1>Tech future hackathon
</h1>
        <p>The Tech.Future Hackathon 2.0 aims to discover, nurture,...</p>

        <div class="tags">
          <div class="tag"> INR 25 Lakhs.
</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>
  


<!-- Vendor JS Files -->
<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../public/vendor/aos/aos.js"></script>
<script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../public/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../public/js/main.js"></script>

</body>
</html>