<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Blog - FlexStart Bootstrap Template</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!--favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../public/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="../public/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../public/css/blog.css" rel="stylesheet" />

    <link href="../public/css/styles.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/ctry.css" />
    <style>
      /* body {
            background-color: #f8f9fa;
        }
     */
      .blog-post {
        margin-bottom: 30px;
      }
      .img-fluid {
        max-width: 300px;
        height: 300px;
      }
    </style>

    <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-delay="0"
  >
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
          <img src="../public/img/ui_full.png" alt="" />
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/blogs/compose">Compose</a></li>
            <li><a href="/infra">Infraseek</a></li>
            <li><a href="/hackathon">Hackathons</a></li>
            <li><a href="/explore">Challenges</a></li>
            <li>
              <a href="/profile"
                ><img
                  id="avatarImage"
                  width="10%"
                  height="8%"
                  src="<%=user.image%>"
                  alt="bear"
              /></a>
            </li>
          </ul>
        </nav>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->
    <!-- <div class="header">
        <img class="logo" src="../public/img/logo.jpg" alt="Your Logo">
        <div class="container">
            <div class="rounded-container">
                <a href="#">ours</a>
                <a href="#">yours</a>
                <a href="#">.</a>
            </div>
            <div class="container">
                <div class="strip" id="hover-strip">
                    <div class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
                <div class="vertical-container">
                    <div class="user-profile">
                        <img src="<%=user.image%>" alt="User Avatar" class="avatar">
                        <p class="user-name">User</p>
                    </div>
                    <div class="spacer"></div>
                    <a href="/blogs">Blogs</a>
                    <a href="/infra">Infraseek</a>
                    <a href="/explore">Problem Statements</a>
                    <a href="#">Reels</a>
                    <a href="/logout">Logout</a>
                    <div class="image-link bottom-images">
                        <a
                            href="https://www.linkedin.com/in/uncalled-innovators-100016294?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img
                                src="../public/Icons/linkedin.png" alt="Site 2"></a>
                        <a href="https://www.instagram.com/uncalled_innovators?igsh=MXU1bDBsb3N5amdsdQ=="><img
                                src="../public/Icons/instagram.png" alt="Site 1"></a>
                        <a href="https://x.com/TeamUncalled?t=rDd4njnW9kkQqhaq67eGcw&s=09"><img
                                src="../public/Icons/twitter.png" alt="Site 3"></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <section class="blog-section">
      <div class="container">
        <div class="blog-header">
          <h2>Latest Stories</h2>
          <p>Explore our collection of insights, innovations, and ideas</p>
        </div>

        <div class="row">
          <% posts.forEach(post => { %>
          <div class="col-lg-4 col-md-6">
            <div class="blog-card">
              <% if (post.image) { %>
              <img
                src="/public/uploads/<%= post.image %>"
                alt="<%= post.title %>"
                class="blog-image"
              />
              <% } %>

              <div class="blog-content">
                <h3 class="blog-title"><%= post.title %></h3>

                <div class="blog-metadata">
                  <span
                    ><i class="bi bi-calendar"></i> <%= new
                    Date(post.createdAt).toLocaleDateString() %></span
                  >
                  <span><i class="bi bi-person"></i> <%= post.user %></span>
                </div>

                <p class="blog-excerpt">
                  <%= post.content.substring(0, 150) %>...
                </p>

                <a href="/blogs/posts/<%= post._id %>" class="blog-read-more"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../public/vendor/aos/aos.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../public/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../public/js/blog.js"></script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <!-- Code injected by live-server -->
  </body>
</html>
